body {
  /* margin: 0; */
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: black;
  background-image: url("herbs.png");
  /* background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top; */
  
  background-position: center top;
  background-repeat: no-repeat;
  background-size: initial; 
  

}


