.App {
  text-align: center;
}

body {
  margin: 0; 
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: black;
}

#productlist {
  margin-bottom: 5rem; 
}

#lowimg {
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-image: url("herbs.png");
  background-repeat: no-repeat;
  background-size: absolute; 
  height: 400px;
  width: 100vw;
  margin-bottom: 5rem;
}

#productcontainer {
  margin-bottom: 5rem;
}

#productform {
  margin-bottom: 5rem;
}

#navbar {
  margin-bottom: 10rem;
}